@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .blink-red {
    animation: blink-red 2s infinite;
  }

  @keyframes blink-red {
    0%,
    50% {
      background-color: rgba(127, 29, 29, 0.3);
      border-color: rgba(239, 68, 68, 0.5);
    }
    75% {
      background-color: rgba(185, 28, 28, 0.5);
      border-color: rgba(239, 68, 68, 0.8);
    }
    100% {
      background-color: rgba(127, 29, 29, 0.3);
      border-color: rgba(239, 68, 68, 0.5);
    }
  }
}
